.signUpForm{
    width: 320px;
    height: 400px;
    padding-top: 150px;
    margin: 0px auto; 
   
}

.signUpEmail, .signUpPassword{
    width: 300px;    
    height: 30px;
    margin: 8px 10px;
    border: none;
    border-bottom: 3px solid #000000;
    background: #000d1b;
    font-size: 1.5rem;
    color: whitesmoke;
	outline: none;
}

.signUpLabel{
    margin-left: 10px;
    font-size: 1.2rem;
    color: #939797;
}

.signUpBtn{
    width: 100px;
    height: 100px;
    margin: 7px 100px;
    padding: 0;
    border: 5px solid black;
    border-radius: 50%;
    background: #000d1b;
    color: #939797;
    font-size: 1.2rem;
}

.signUpBtn:hover{
    background: #003268;
    cursor: pointer;
    color: white;
}

.signUpError{
    color: red;
    margin-left: 10px;
    height: 15px;
    width: 310px;
}